<% if object.errors.any? %>
    <div class="alert alert-danger">入力内容に<%= object.errors.count%>箇所の不備が存在します</div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>