<footer>
<nav class="navbar navbar-expand-md  navbar-light bg-light">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-navi" aria-controls="bs-navi" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="bs-navi">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item"><%= link_to "トップページへ", root_path, class:"nav-link" %></li>
    </ul>
  </div>
</nav>
</footer>